{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        Congratulations, you have completed the assessment!
    </h1>

    <h1 class="subtitle">
        You achieved {{assessment.total_score}} out of {{assessment.total_score_possible}}
    </h1>

    <h1 class="title is-1">
        Your mastery is {{(assessment.total_score/assessment.total_score_possible)  * 100}}%
    </h1>

    <h1 class="title is-4">Previous quizes taken</h1>
    <ul>
        {% for assessment in assessments %}
        <li>
            On {{assessment.date_completed}},
            you achieved {{assessment.total_score}} out of {{assessment.total_score_possible}}
        </li>
        {% endfor %}
    </ul>
{% endblock %}