{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        {{ question }}
    </h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    <form method="post">
        <div class="center" name="MC">
            <div class="radioLeft">
                <input type="radio" name="distractor" value="{{ distractorA }}"/>
                <label>{{ distractorA }}</label>
            </div>

            <div class="radioLeft">
                <input type="radio" name="distractor" value="{{ distractorB }}"/>
                <label>{{ distractorB }}</label>
            </div>

            <div class="radioLeft">
                <input type="radio" name="distractor" value="{{ distractorC }}"/>
                <label>{{ distractorC }}</label>
            </div>

            <div class="radioLeft">
                <input type="radio" name="distractor" value="{{ distractorD }}"/>
                <label>{{ distractorD }}</label>
            </div>
        </div>
        
        <input type="submit" class="button is-link" value="Submit" formaction="{{url_for("assess.present_mc")}}"></input>
    </form>
{% endblock %}