.quizButton {
  margin: 1%;
  width: 23%;
  float:left;
}

input[type='radio'] {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.radioLeft
{
    text-align:left;
    padding: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}